.avatar {
  margin: 10;
}

.headerBar_1 {
  width: 100% !important;
}

.bigAvatar {
  margin: 10;
  width: 60;
  height: 60;
}
.menuButton {
  margin-left: -12;
  margin-right: 20;
}

.oweeLogo {
  height: 70px;
  width: 90px;
  /* margin: 3px; */
}

.footerBG {
  background-color: 'rgba(16, 11, 30, 0.251)';
  position: absolute;
}

.textMenuBar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100% !important;
  flex-grow: 1 !important;
}  

.appbargrid{
  position: absolute;
}
