.avatar {
  margin: 10;
}

.bigAvatar {
  margin: 10;
  width: 60;
  height: 60;
}

.oweeLogo {
  height: 70px;
  width: 90px;
  /* margin: 3px; */
}

.footerBG {
  background-color: 'rgba(16, 11, 30, 0.251)';
  position: absolute;
}

.textMenufamily {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

.appbargrid{
  position: absolute;
}