.AppProj {
  text-align: center;
  background-color: #282c34;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.mainTitleProj {
  margin-top: 350px;
}
.margintop-ne20Proj {
  margin-top: -40px;
}

.copyryt {
  position: fixed;
  bottom: 8px;
  
}
.mainNameProj {
  font-size: 150px;
  text-align: left;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:rgba(39, 39, 39, 0.251);
}  
.mainsubTitleProj {
  font-size: 40px;
  text-align: left;
  margin-left: 20px;
  color: gainsboro;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mainsubNameProj {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  color: gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.App-Project {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-Project .content {
  position: absolute;
  z-index: 999;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-Project:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  flex: 0%;
  /* background-image: url(../../src//assets/images//oweepic01.jpg); */
  background-size: cover;
  background-attachment: scroll;
  background-clip: border-box;
  background-position-y: center;

  opacity: 0.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-link {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}